/* BASE */
body{ width: 100%; text-align: center; margin: 0; padding: 0; border: 0; font-family: Meiryo UI;}
p,table,tr,th,td,h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0;}
th,td{ vertical-align: top; text-align: left;}
a{ text-decoration: underline; border: 0; color: #00688c;}
a:hover{ opacity: 0.7; }
a img{ border: 0; }

/* COMMON */
.content{ width: 1000px; text-align: left; margin: auto; line-height: 150%;}
.spacing20{ width: 1040px; text-align: left; margin: auto; line-height: 150%;}
.spacing10{ width: 1020px; text-align: left; margin: auto; line-height: 150%;}
.spacing5{ width: 1010px; text-align: center; margin: auto; line-height: 150%;}
#header{}
.freeDial{ padding: 0 0 0 35px; font-size: 20pt; font-weight:bold; color: #ED2509; background: url(/img/bg_freedial.jpg) left center no-repeat;}
.caution{ font-size: 90%; color: #555;}
#globalNav{ padding: 5px; font-size: 140%; color: #FFF; background: #D7000F;}
#globalNav a{ text-decoration: none; font-weight: bold; color: #FFF; }
#breadcrumb{ padding: 5px; background: #EEE;}
#main{ margin-top: 20px; }
#footer{ padding: 5px; background: #EEE;}
#footTel{ margin: auto; }
#footLink{ margin-top: 20px; margin-bottom: 20px;}
#footLink td{ width: 150px; border-left: 1px solid #ccc; font-size: 90%;}
h2{ width: 1000px; margin: 0 auto 0 auto; padding: 8px 0 8px 0; text-align: left; font-size: 120%; color:#FFF;}
.bgRed{ background: #D7000F;}
.bgGreen{ background: green;}
.bgBlue{ background: #00688c;}
.bgGray{ background: #777}
.price{ font-weight: bold;}
.negotiation{ color: #ff4000;}
.ask{ color: #061f39;}
h5{ font-size: 14pt; margin-bottom: 5px;}

/* HOME */
.topItem{ overflow-x: hidden; width: 192px; line-height: 160%;}
.topItem img{ width:192px; height:auto;}
.topItem span{ padding: 0px 5px 2px 5px; font-size: 70%; background: #555	; color:#FFF;}

/* LIST */
.search th{ width: 80px; border-right: 1px solid #555; }
.search .now{ padding: 0 5px 2px 5px; text-decoration: none; color:#FFF; background: #00688c; }
.image{ width: 450px; }
.product_list{ border-bottom: 1px dashed #666; }
.name{ font-size: 120%; font-weight: bold; text-decoration: underline; }
.list_spec{ width: 100%;}
.list_spec th{ width: 25%; padding: 3px; background: #DDD; color: #555;}
.list_spec td{ width: 25%; padding: 3px; font-size: 110%; background: #F4F4F4;}
.list_spec td.model{ font-size: 100%;}
.list_spec span{ padding: 0px 5px 2px 5px; font-size: 80%; background: #777	; color:#FFF;}
.list_icon{ text-align: center; width: 440px; font-weight: bold; color: #FFF; }
.hosho{ background: #FF4A47; }
.powergate { background: #FFa753; }
.shaken { background: #0066B6; }
.freezer { background: #2BBFE7; }

/* DETAIL */
.stockno{ width: 200px; padding: 5px; border-top: 1px solid #999; border-bottom: 1px solid #999; font-size: 120%; }
.stockno span{ font-weight: bold; color: #ED2509; }
.detail_head h1{ font-size: 160%; line-height: 130%;}
.thumbnail_0{}
.thumbnail_1 img{ width: 64px; }
caption{ text-align: left; font-weight: bold;}
.detail_spec table th{ padding: 3px; background: #DDD; color: #666;}
.detail_spec table td{ padding: 3px; font-size: 110%; background: #F4F4F4;}
.detail_spec table span{ padding: 0px 5px 2px 5px; font-size: 70%; background: #777; color:#FFF;}

/* CORPORATE */
.table th{ padding: 8px; background: #DDD; color: #555;}
.table td{ padding: 8px; font-size: 110%; background: #F4F4F4;}
