html {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo sans-serif;
	font-size: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	position:relative;
}


/*ヘッダー部*/
header {
	position: fixed;
	width: 100%;
	top: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:rgba(255, 255, 255, 0.9);
	z-index: 97;
}

header #header_inner {
	max-width: 960px;
	margin: 0 auto;
}

header #header_left {
	width: 37.5%;
	float: left;
	margin-right: 7.3%;
}

header #header_logo {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/header_logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 22.2%;
	width: 100%;
}

header #header_center {
	float: left;
	width: 43.75%;
	display: block;
}

header #header_center #toTopPage {
	display: block;
	float: right;
	width: 50.2%;
	padding-top: 9.76%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/headerLink_toTop.png');
}

header #header_center #toTopPage:hover {
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)";
}

header #header_center nav {
	display: block;
	width: 100%;
	float: left;
}

header #header_center nav ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

header #header_center nav ul li {
	width: 25%;
	list-style: none;
	float: left;
}

header #header_center nav ul li a {
	padding-top: 37.2%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	font-size: 0;
	text-indent: -9999px;
	display: block;
	width: 100%;
}

header #header_center #toWorkers {
	background-image: url('../img/pc/headerLink_person.png');
}
header #header_center #toWorkers:hover {
	background-image: url('../img/pc/headerLink_person_sc.png');
}

header #header_center #toAspiration {
	background-image: url('../img/pc/headerLink_vision.png');
}
header #header_center #toAspiration:hover {
	background-image: url('../img/pc/headerLink_vision_sc.png');
}

header #header_center #toCompanySystem {
	background-image: url('../img/pc/headerLink_company.png');
}
header #header_center #toCompanySystem:hover {
	background-image: url('../img/pc/headerLink_company_sc.png');
}

header #header_center #toRecInformation {
	background-image: url('../img/pc/headerLink_info.png');
}
header #header_center #toRecInformation:hover {
	background-image: url('../img/pc/headerLink_info_sc.png');
}

header #header_right {
	width: 11.45%;
	float: left;
}

header #header_right a {
	padding-top: 72.7%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	background-image: url('../img/pc/entry_btn.png');
	font-size: 0;
	text-indent: -9999px;
	display: block;
	width: 100%;
}


header #header_right a:hover {
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)";
}

header #headerCloseButton {
	display: none;
}

a img:hover {
	opacity: 0.7;
	-ms-filter: "alpha(opacity=70)";
}

::selection {
background:#b5b5b5; /* Safari */
}

::-moz-selection {
background:#b5b5b5; /* Firefox */
}

/*SP版メニューは非表示*/
#header_navArea_sp {
	display: none;
}

main {
	position: relative;
	right: 0%;background-color: #ffffff;
	transition-property: right;
	transition-duration: 0.3s;
	transition-timing-function:ease-in;
}

/*トップギャラリー*/
#topGallery {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*社員紹介エリア*/
#workers {
	width: 100%;
	background-color: #f2f2f2;
}

#workersWrapper {
	max-width: 960px;
	margin: 0 auto;
}

#workers h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/common/title_worker.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 21.87%;
	padding-top: 19.79%;
	margin:0 auto;
}

#workerSection {
	max-width: 960px;
	margin: 5.4% auto 0 auto;
	overflow: hidden;
	padding-bottom: 8.4%;
}

.workerCol {
	width: 31%;
	margin: 0 3.2% 0 0;
	float: left;
	padding: 0;
	cursor: pointer;
	line-height: 0%;
}

.workerCol:nth-child(3n) {
	margin-right: 0;
}

.workerCol:nth-child(-n+3) {
	margin-bottom: 3.2%;
}
.workerCol h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5em;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.workerCol img {
	width: 100%;
}

.workerCol p {
	font-size: 12px;
	margin-left: 7.7%;
	line-height: 0.8em;
}

.workerCol .name {
	font-size: 20px !important;
	font-weight: bold;
	line-height: 0;
}

.workerCol .initial {
	font-size: 10px !important;
	margin-bottom: 4.56%;
}

.workerCol .workerNameArea {
	overflow: hidden;
	width: 100%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}

.workerCol #workerImgArea {
	overflow: hidden;
}

.workerCol #workerImgArea img {
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function:ease-out;
}

.workerCol .workerLeftArea {
	width: 100%;
}

.workerCol .slash:after, #lightBox .slash:after {
	content: url('../img/pc/slash.png');
}


.maintenance {
	background-image: url(../img/pc/maintenance.jpg);
}
.sales {
	background-image: url(../img/pc/sales.jpg);
}
.business {
	background-image: url(../img/pc/business.jpg);
}
.affair {
	background-image: url(../img/pc/affair.jpg);
}
.propulsion {
	background-image: url(../img/pc/propulsion.jpg);
}
.parts {
	background-image: url(../img/pc/parts.jpg);
}


/*ライトボックス*/
#lightBoxBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	display: none;
	opacity: 0;
	z-index: 98;
}

#lightBox {
	position: fixed;
	width: 97.9%;
	max-width: 940px;
	margin: 0 auto;
	overflow: hidden;
	display: none;
	opacity: 0;
	z-index: 99;
}

#lightBox #boxLeft h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 100%;
	padding: 0;
	margin: 0 0 2.1% 0;
}

#lightBox_functionArea {
	overflow: hidden;
	width: 100%;
	margin-bottom: 12px;
}

#rbLeftButton {
	width: 40px;
	height: 40px;
	float: right;
	background-image: url('../img/pc/lightBox_left.png');
	margin-right: 11px;
	cursor: pointer;
}

#rbRightButton {
	width: 40px;
	height: 40px;
	margin-right: 14px;
	float: right;
	background-image: url('../img/pc/lightBox_right.png');
	cursor: pointer;
}

#rbCloseButton {
	width: 33px;
	height: 40px;
	float: right;
	background-image: url('../img/pc/lightBox_close.png');
	cursor: pointer;
}

#rbLeftButton:hover, #rbRightButton:hover, #rbCloseButton:hover {
	opacity: 0.3;
	-ms-filter: "alpha(opacity=30)";
}

#boxLeft {
	width: 45.7%;
	float: left;
}

#boxLeft p {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

#lightBox #lightBoxInfo_left {
	overflow: hidden;
}

#lightBox #boxLeft #lightBoxName {
	display: inline-block;
	width: 80%;
	float: left;
	margin-bottom: 2.8%;
}

#lightBox #boxLeft #lightBoxCarrer {
	margin-bottom: 2.2%;
	margin-top: 1.6%;
	width: 80%;
	display: inline-block;
	float: left;
}

#lightBox #boxLeft .initial {
	font-size: 12px !important;
	margin-left: 3.3%;
	color: #797979;
}

#lightBox #boxLeft .name {
	font-size: 28px !important;
	font-weight: bold;
	line-height: 100%;
}

#lightBox .workerRightArea {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	float: right;
	width: 14.2%;
	padding-top: 14.5%;
}

#lightBox .maintenance {
	background-image: url(../img/pc/maintenance_lb.png);
}
#lightBox .sales {
	background-image: url(../img/pc/sales_lb.png);
}
#lightBox .business {
	background-image: url(../img/pc/business_lb.png);
}
#lightBox .affair {
	background-image: url(../img/pc/affair_lb.png);
}
#lightBox .propulsion {
	background-image: url(../img/pc/propulsion_lb.png);
}
#lightBox .parts {
	background-image: url(../img/pc/parts_lb.png);
}

#lightBox #boxLeft #lightBoxBalloon {
	width: 100%;
	padding-top: 3%;
	background-image: url('../img/pc/lightBox_balloon.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

#lightBox #boxLeft #answerArea {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 4.5%;
}

#lightBox #boxLeft #answerArea::-webkit-scrollbar {
	background: #c7c7c7;
	border-radius: 2px;
}

#lightBox #boxLeft #answerArea::-webkit-scrollbar:vertical {
	width: 5px;
}

#lightBox #boxLeft #answerArea::-webkit-scrollbar-thumb {
	width: 5px;
	background: #d6000f;
}

#boxRight {
	width: 52.8%;
	float: right;
}

#boxRight img {
	width: 100%;
	display: block;
}

#lightBox .question {
	font-size: 14px;
	color: #e60013;
	font-weight: bold;
	margin-bottom: 2.8%;
	line-height: 1.4em;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

#lightBox .question:first-child {
	margin-top: 1.5%;
}


#lightBox .answer {
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 6%;
	padding-left: 1.5em;
	text-indent: -1.5em;
}

/*栗山の想い*/
#aspiration {
	width: 100%;
	background-color: #363636;
}

#aspiration_bg {
	background-image: url('../img/pc/asp_bg.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 1597px;
	margin: 0 auto;
}

#aspiration_wrapper {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#aspiration h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/title_asp.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 24.68%;
	padding-top: 13.85%;
	margin:6.25% auto 5.2% auto;
}

#aspiration h2 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/asp_h2.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	width: 98.5%;
	padding-top: 14.26%;
	margin:0 auto 4.1% auto;
}

#aspiration #asp_textArea {
	width: 63.5%;
	float: right;
	text-align: left;
	overflow: hidden;
}

#aspiration #asp_textArea p{
	margin-right: 1.6%;
	font-size: 14px;
	line-height: 1.78em;
	color: #ededed;
	margin-bottom: 3.6%;
}

#aspiration #asp_textArea p:last-child {
	text-align: right;
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/common/autograph.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	width: 39.3%;
	padding-top: 4.26%;
	float: right;
	margin-bottom: 13.27%;
}

/*KURIYAMAという会社*/
#aboutCompany {
	width: 100%;
	margin: 0 auto;
	background-image: url('../img/pc/about_bg.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

#about_wrapper {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#aboutCompany h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/common/title_about.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 29.16%;
	padding-top: 14.58%;
	margin:6.25% auto 5.2% auto;
}

#aboutCompany .growthArea {
	float: left;
	width: 50%;
}
#aboutCompany #growth_right, #aboutCompany #vision_left  {
	display: block;
}

#aboutCompany p {
	font-size: 14px;
	line-height: 1.71em;
	margin: 0;
	color: #333333;
}

#aboutCompany #growth_left h2 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/growth.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 100%;
	padding-top: 11.6%;
	margin:3.54% auto 4.3% 0;
}

#aboutCompany #vision_left {
	margin-bottom: 8.4%;
}

#aboutCompany #vision_left img,  #aboutCompany #growth_right img{
	width: 100%;
}

#aboutCompany #vision_right h2 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/vision.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	padding-top: 11.6%;
	margin:0 5.2% 4.1% 0;
}

#aboutCompany #vision_right p {
	margin-left: 5.2%;
}

/*栗山自動車グループ*/
#groupSection {
	width: 100%;
	background-color: #e5e5e4;
}

#groupSection #group_bg {
	max-width: 1599px;
	background-image: url('../img/pc/group_bg.png');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0 auto;
}

#groupSection #group_wrapper {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#groupSection h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/title_group.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 23.3%;
	padding-top: 13.958%;
	margin:6.56% auto 5.1% auto;
}

#groupSection .group_area {
	width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 9%;
	margin-top: 10%;
	float: left;
}

#groupSection .group_area h2 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5%;
	line-height: 1em;
}

#groupSection .group_area p {
	text-align: left;
	font-size: 14px;
	line-height: 1.71em;
	color: #333333;
}

#groupSection .group_area img {
	width: 100%;
	margin-bottom: 2%;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function:ease-out;
}


/*社内制度*/
#companySystem {
	width: 100%;
	text-align: center;
	background-color: #eeeeee;
}

#iconArea {
	max-width: 960px;
	margin:0 auto;
	overflow: hidden;
}

#companySystem h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/title_system.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 11.3%;
	padding-top: 13.6%;
	margin:6.14% auto 5.2% auto;
}

.icons {
	float: left;
	width: 22.9%;
	margin-left: 1%;
	margin-right: 1%;
	height: 295px;
	margin-bottom: 4.1%;
	/*opacity: 0;
	transform:rotate(10deg);
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function:ease-out;*/
}

.icons figure {
	margin: 0;
	padding: 0;
}

.icons img {
	width: 63.6%;
	margin-bottom: 6.8%;
	/*
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function:ease-out;*/
}

.icons figcaption {
	width: 100%;
	color: #d6000f;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
}

.icons p {
	font-size: 13px;
	line-height: 1.69em;
	text-align: left;
	color: #323232;
}

#iconArea .icons:last-child {
	margin-bottom: 8.4%;
}

/*横スクロールギャラリー*/
#companyGallery, #companyGalleryBottom {
	width: 100%;
	height: 187px;
	overflow: hidden;
	position:relative;
	margin: 0 auto;
}

#companyGallery ul, #companyGalleryBottom ul{
	position: absolute;
	width: 3204px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#companyGallery ul li, #companyGalleryBottom ul li {
	width: 267px;
	height: 187px;
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function:ease-out;
}

#companyGallery ul li img, #companyGalleryBottom ul li img{
	width: 100%;
	height: 100%;
}

#ga01 {
	background-image: url("../img/common/uGallery01.jpg");
}
#ga02 {
	background-image: url("../img/common/uGallery02.jpg");
}
#ga03 {
	background-image: url("../img/common/uGallery03.jpg");
}
#ga04 {
	background-image: url("../img/common/uGallery04.jpg");
}
#ga05 {
	background-image: url("../img/common/uGallery05.jpg");
}
#ga06 {
	background-image: url("../img/common/uGallery06.jpg");
}
#ga07 {
	background-image: url("../img/common/uGallery01.jpg");
}
#ga08 {
	background-image: url("../img/common/uGallery02.jpg");
}
#ga09 {
	background-image: url("../img/common/uGallery03.jpg");
}
#ga10 {
	background-image: url("../img/common/uGallery04.jpg");
}
#ga11 {
	background-image: url("../img/common/uGallery05.jpg");
}
#ga12 {
	background-image: url("../img/common/uGallery06.jpg");
}


/*recInformation*/
#recInformation {
	width: 100%;
}

#recInformation .left_side article {
	margin-bottom: 7.2%;
}

#recInformation .right_side article:nth-child(1) {
	margin-bottom: 6.6%;
}
#recInformation .right_side article:nth-child(2) {
	margin-bottom: 7%;
}
#recInformation .right_side article:nth-child(3) {
	margin-bottom: 7%;
}
#recInformation .right_side article:nth-child(4) {
	margin-bottom: 7.3%;
}
#recInformation .right_side article:nth-child(5) {
	margin-bottom: 7.3%;
}
#recInformation .right_side article:nth-child(6) {
	margin-bottom: 6%;
}


#recInformation h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/common/title_info.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 11.1%;
	padding-top: 13.6%;
	margin:6.14% auto 5.2% auto;
}

#recInformation h2 {
	color:#d6000f;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
	line-height: 100%;
	display: inline-block;
	border-top: 4px solid #ea1312;
	padding: 15px 0 0;
}

#recInformation h3, #parttime h3 {
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	margin: 20px 0 10px;
	line-height: 24px;
}

	#recInformation h3 span, #parttime h3 span{
		padding: 1px 9px 1px 9px;
		font-size: 70%;
		color: #FFF;
		border-radius: 4px;        /* CSS3草案 */
		-webkit-border-radius: 4px;    /* Safari,Google Chrome用 */
		-moz-border-radius: 4px;   /* Firefox用 */
 	}

	#recInformation h3 span.tokyo, #parttime h3 span.tokyo{
		background-color: #A11;
	}

	#recInformation h3 span.kanagawa, #parttime h3 span.kanagawa{
		background-color: #364;
	}

	#recInformation h3 span.kaigai, #parttime h3 span.kaigai{
		background-color: #369;
	}


#recInformation h3 ~ p{
	margin-left: 1.4em;
}

#recInformation p {
	font-size: 14px;
	padding: 0;
	margin: 0;
	line-height: 24px;
}

#recInformation .left_side p {
	margin-bottom: 20px;
}

#recInformation ul{
	margin:0;
	padding: 0px;
	list-style: none;
}

#recInformation li:before {
	content: '・';
}

#recInformation li {
	font-size: 14px;
	line-height: 24px;
}

#recInformation dl {
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: 24px;
}

#recInformation dt {
	float: left;
	width: 3em;
}

#recInformation dd {
	float: left;
	margin: 0;
	padding: 0;
}

#recInformation small {
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #777;
}

#recInformation .small {
	font-size: 12px;
	margin-left: 1.5em;
}

#recInformation .bulletMargin {
	margin-left: 1em;
}

#recInformation .numMargin {
	margin-left: 1.5em;
}

#recInformation .gMargin {
	margin-left: 1.4em;
}

#recInfoArea, #companyInfoArea, #historyArea {
	max-width: 960px;
	margin:0 auto;
	overflow: hidden;
}

/*企業情報*/
#companyInfo {
	width: 100%;
	background-image: url('../img/pc/info_bg.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

#companyInfo h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/common/title_profile.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 11.1%;
	padding-top: 14.2%;
	margin:6.14% auto 5.2% auto;
}

#companyInfo h2 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/common/title_history.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
	width: 10.4%;
	padding-top: 2.5%;
	margin:5.6% auto 3% auto;
}

#companyInfo table a:after {
	content: url('../img/pc/link_icon.png');
	margin-left: 7px;
}

#companyInfo table th {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	border-bottom: 11px solid transparent;
	border-right: 25px solid transparent;
	vertical-align: top;
}

#companyInfo table td {
	font-size: 14px;
	border-bottom: 11px solid transparent;
	line-height: 24px;
}

#companyInfo table td a {
	text-decoration: none;
	color: #5298D5;
}

#companyInfo table td a:hover {
	text-decoration: underline;
}

#companyInfo table th span {
	background-color: #d6000f;
	display: inline-block;
	width: 75px;
	height: 23px;
	line-height: 1.9em;
}

#entryButton {
	width: 19.1%;
	margin: 0 auto 2.7% auto;
	display: block;
}
#entryButton img {
	width: 100%;
	display: block;
}

.color_RED {
	color: #ff0000;
}

.bg_YELLOW {
	background-color: #ffff00
}

.left_side {
	width: 50%;
	padding-left: 2%;
	padding-right: 6%;
	display: block;
	float: left;
	box-sizing: border-box;
	margin-bottom: 8.4%;
	border-right: 1px dotted #a8a8a8;
}

.right_side {
	width: 50%;
	padding-left: 7.2%;
	display: block;
	float: left;
	box-sizing: border-box;
}

#companyInfo #companyHistroy {
	background-image: url('../img/pc/history_flow.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	width: 100%;
	padding-top: 25.8%;
	margin-bottom: 4.3%;
}

#companyInfo #recruitBox {
	width: 29.6%;
	max-width: 285px;
	margin: 0 auto;
}

#companyInfo #recruitBox img {
	width: 100%;
	margin-bottom: 14.7%;
}

/*横スクロール（下側）*/
#gb01 {
	background-image: url("../img/common/bGallery01.jpg");
}
#gb02 {
	background-image: url("../img/common/bGallery02.jpg");
}
#gb03 {
	background-image: url("../img/common/bGallery03.jpg");
}
#gb04 {
	background-image: url("../img/common/bGallery04.jpg");
}
#gb05 {
	background-image: url("../img/common/bGallery05.jpg");
}
#gb06 {
	background-image: url("../img/common/bGallery06.jpg");
}
#gb07 {
	background-image: url("../img/common/bGallery01.jpg");
}
#gb08 {
	background-image: url("../img/common/bGallery02.jpg");
}
#gb09 {
	background-image: url("../img/common/bGallery03.jpg");
}
#gb10 {
	background-image: url("../img/common/bGallery04.jpg");
}
#gb11 {
	background-image: url("../img/common/bGallery05.jpg");
}
#gb12 {
	background-image: url("../img/common/bGallery06.jpg");
}

/*トップへスクロールボタン*/
#toTopScroll {
	position: fixed;
	right: 84px;
	bottom: 26px;
	display: block;
	width: 44px;
	height: 127px;
	display: none;
	opacity: 0;
}

#toTopScroll img{
	width: 100%;
}

/*フッター*/
footer {
	width: 100%;
	background-color: #ffffff;
}

footer #footerArea {
	max-width: 960px;
	margin: 0 auto;
}

footer #footerArea h1 {
	font-size: 0;
	text-indent: -9999px;
	background-image: url('../img/pc/footer.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 37.5%;
	padding-top: 13.2%;
	margin:0 auto;
}

/*hover action*/
.workerCol #workerImgArea img:hover {
	transform: scale(1.08);
}

#companyGallery ul li:hover, #companyGalleryBottom ul li:hover {
	transform: scale(1.1);
	z-index: 99;
}
#companyGallery ul li img:hover, #companyGalleryBottom ul li img:hover {
	opacity: 0;
}

#groupSection .group_area img:hover {
	transform: scale(1.08);
	opacity: 1;
}


@media screen and (max-width: 768px) and (min-width: 641px) {
	.workerCol h2 {
		font-size: 15px;
	}
	.workerCol p {
		font-size: 10px;
	}
}

@media screen and (max-width: 640px) {
	html {
		/*font-size: 75%;*/
	}
	/*SP版 header*/
	header {
		position: fixed;
		width: 100%;
		top: 0px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color:rgba(255, 255, 255, 0.95);
		z-index: 97;
	}
	header #header_left {
		width: 100%;
		float: none;
		margin-right: 0;
		overflow: hidden;
	}
	header #header_logo {
		background-image: url('../img/sp/header_logo.png');
		background-size: contain;
		padding-top: 15.6%;
		width: 84.3%;
		float: left;
	}

	header #headerCloseButton {
		display: block;
		width: 15.6%;
		padding-top: 15.6%;
		float: right;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		background-image: url('../img/sp/header_openBtn.png');
		cursor: pointer;
	}

	header #header_navArea_sp {
		display: none;
		opacity: 0;
		width: 100%;
	}

	#header_navArea_sp nav {
		display: block;
		width: 100%;
	}

	header #header_navArea_sp nav ul {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	header #header_navArea_sp nav ul li {
		width: 50%;
		border-top: 2px solid #d6d6d6;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		list-style: none;
		float: left;
	}

	header #header_navArea_sp nav ul li:nth-child(2n+1) {
		border-right: 1px solid #d6d6d6;
	}

	header #header_navArea_sp nav ul li:nth-child(2n) {
		border-left: 1px solid #d6d6d6;
	}

	header #header_navArea_sp nav ul li:nth-child(5) {
		border-left: 0px solid;
		border-right: 0px solid;
		width: 100%;
	}
	header #header_navArea_sp nav ul li a {
		padding-top: 24.45%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center top;
		font-size: 0;
		text-indent: -9999px;
		display: block;
	}
	header #header_navArea_sp nav ul li:nth-child(5) a {
		padding-top: 12.2%;
	}
	header #header_navArea_sp #toWorkersSp {
		background-image: url('../img/sp/headerLink_personSp.png');
	}
	header #header_navArea_sp #toAspirationSp {
		background-image: url('../img/sp/headerLink_visionSp.png');
	}
	header #header_navArea_sp #toCompanySystemSp {
		background-image: url('../img/sp/headerLink_companySp.png');
	}
	header #header_navArea_sp #toRecInformationSp {
		background-image: url('../img/sp/headerLink_infoSp.png');
	}
	header #header_navArea_sp #toTopSp {
		background-image: url('../img/sp/headerLink_topSp.png');
	}

	header #header_center {
		display: none;
	}

	header #header_right {
		width: 100%;
		float: none;
		border-top: 2px solid #d6d6d6;
		border-bottom: 2px solid #d6d6d6;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		display: none;
		opacity: 0;
	}

	header #header_right a {
		padding-top: 12.2%;
		background-image: url('../img/sp/headerLlink_toEntrySp.png');
		font-size: 0;
		text-indent: -9999px;
		display: block;
		width: 100%;
	}
	#workers h1 {
		background-image: url('../img/common/title_worker.png');
		width: 47.3%;
		padding-top: 39.68%;
	}
	#workerSection {
		max-width: 600px;
		width: 93.75%;
		margin: 11.7% auto 0 auto;
		overflow: hidden;
		padding-bottom: 8.4%;
	}
	.workerCol {
		width: 48.3%;
		margin-bottom: 5.16% !important;
	}
	.workerCol:nth-child(3n) {
		margin-right: 0;
	}
	.workerCol:nth-child(-n+3) {
		margin-bottom: 0;
	}
	.workerCol:nth-child(2n+1) {
		margin: 0 1.6% 0 0;
	}
	.workerCol:nth-child(2n) {
		margin: 0 0 0 1.6%;
	}
	.workerCol:nth-child(5), .workerCol:nth-child(6) {
		margin-bottom: 0% !important;
	}
	.workerCol h2 {
		font-size: 10px;
		letter-spacing: -0.04em;
	}
	.workerCol p {
		font-size: 9px;
		margin-left: 4.1%;
		line-height: 0.8em;
	}
	.workerCol .name {
		font-size: 12px !important;
		font-weight: bold;
		line-height: 0;
	}

	.workerCol .initial {
		font-size: 7px !important;
		margin-bottom: 4.56%;
	}
	.workerCol .slash:after, #lightBox .slash:after {
		content: url('../img/sp/slash_sp.png');
	}
	.workerCol .ageSpan {
		display: block;
		margin-left: -0.5em;
		margin-top: 5%;
	}
	.maintenance {
		background-image: url(../img/sp/maintenanceSp.jpg);
	}
	.sales {
		background-image: url(../img/sp/salesSp.jpg);
	}
	.business {
		background-image: url(../img/sp/businessSp.jpg);
	}
	.affair {
		background-image: url(../img/sp/affairSp.jpg);
	}
	.propulsion {
		background-image: url(../img/sp/propulsionSp.jpg);
	}
	.parts {
		background-image: url(../img/sp/partsSp.jpg);
	}

	/*ライトボックス*/
	#lightBoxBackground {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		display: none;
		opacity: 0;
		z-index: 98;
	}

	#lightBox {
		position: absolute;
		width: 77.6%;
		max-width: 497px;
		margin-left: 11%;
	}

	#lightBox #boxLeft h3 {
		font-size: 12px;
		margin: 0 0 3.2% 0;
	}

	#lightBox_functionArea {
		overflow: hidden;
		width: 100%;
		margin-bottom: 3.2%;
	}

	#rbLeftButton {
		width: 10%;
		padding-top: 10%;
		height: auto;
		background-image: url('../img/sp/lightBox_leftSp.png');
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
		margin-right: 2.4%;
	}

	#rbRightButton {
		width: 10%;
		padding-top: 10%;
		height: auto;
		margin-right: 2.4%;
		background-image: url('../img/sp/lightBox_rightSp.png');
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
	}

	#rbCloseButton {
		width: 7.2%;
		padding-top: 10%;
		height: auto;
		background-image: url('../img/sp/lightBox_closeSp.png');
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
	}

	#rbLeftButton:hover, #rbRightButton:hover, #rbCloseButton:hover {
		opacity: 1;
		-ms-filter: "alpha(opacity=1)";
	}

	#boxLeft {
		width: 100%;
		float: none;
	}

	#boxLeft p {
		margin: 0;
		padding: 0;
		line-height: 100%;
	}

	#lightBox #lightBoxInfo_left {
		overflow: hidden;
	}

	#lightBox #boxLeft #lightBoxName {
		display: inline-block;
		width: 80%;
		float: left;
		margin-bottom: 2.8%;
	}

	#lightBox #boxLeft #lightBoxCarrer {
		font-size: 10px;
		margin-bottom: 2%;
		margin-top: 1.6%;
		width: 80%;
		display: inline-block;
		float: left;
	}

	#lightBox #boxLeft .initial {
		font-size: 9px !important;
	}

	#lightBox #boxLeft .name {
		font-size: 17px !important;
	}

	#lightBox .maintenance {
		background-image: url(../img/sp/maintenance_lbSp.png);
	}
	#lightBox .sales {
		background-image: url(../img/sp/sales_lbSp.png);
	}
	#lightBox .business {
		background-image: url(../img/sp/business_lbSp.png);
	}
	#lightBox .affair {
		background-image: url(../img/sp/affair_lbSp.png);
	}
	#lightBox .propulsion {
		background-image: url(../img/sp/propulsion_lbSp.png);
	}
	#lightBox .parts {
		background-image: url(../img/sp/parts_lbSp.png);
	}

	#lightBox #boxLeft #lightBoxBalloon {
		background-image: url('../img/sp/lightBox_balloonSp.png');
	}

	#lightBox #boxLeft #answerArea {
		margin-top: 4%;
		overflow-y: visible;
	}

	#boxRight {
		width: 100%;
		float: none;
		margin-bottom: 4.8%;
	}

	#boxRight img {
		width: 100%;
		display: block;
	}

	#lightBox .question {
		font-size: 11px;
	}

	#lightBox .answer {
		font-size: 11px;
		margin-bottom: 6.8%;
	}

	/*栗山の想い*/
	#aspiration {
		width: 100%;
		background-color: #363636;
	}
	#aspiration_bg {
		background-image: url('../img/sp/asp_bgSp.jpg');
		width: 100%;
		max-width: 640px;
	}

	#aspiration_wrapper {
		max-width: 640px;
	}

	#aspiration h1 {
		background-image: url('../img/sp/title_aspSp.png');
		width: 52.9%;
		padding-top: 27.6%;
		margin:12.3% auto 11.2% auto;
	}

	#aspiration h2 {
		background-image: url('../img/sp/asp_h2Sp.png');
		width: 66.4%;
		padding-top: 30.9%;
		margin:0 auto 6.25% auto;
	}

	#aspiration #asp_textArea {
		width: 93.75%;
		float: none;
		margin: 0 auto;
	}
	#aspiration #asp_textArea p{
		margin-right: 0;
		font-size: 11px;
		margin-bottom: 14.6%;
		margin-right: 4.5%;
		line-height: 18px;
	}
	#aspiration #asp_textArea p:last-child {
		text-align: right;
		width: 53.3%;
		padding-top: 5.5%;
		float: right;
		margin-bottom: 11.5%;
	}

	/*KURIYAMAという会社*/
	#aboutCompany {
		background-image: url('../img/sp/about_bgSp.jpg');
	}

	#about_wrapper {
		max-width: 640px;
	}
	#aboutCompany h1 {
		background-image: url('../img/common/title_about.png');
		width: 61.7%;
		padding-top: 27.9%;
		margin:12.5% auto 11.7% auto;
	}
	#aboutCompany .growthArea {
		float: none;
		width: 93.75%;
		margin: 0 auto;
	}
	#aboutCompany #growth_right, #aboutCompany #vision_left {
		display: none;
	}
	#aboutCompany #growth_left {
		margin-bottom: 8.3%;
	}

	#aboutCompany #vision_right {
		margin-bottom: 11.6%;
	}

	#aboutCompany p {
		font-size: 11px;
		line-height: 18px;
		margin: 0;
	}

	#aboutCompany #growth_left h2 {
		background-image: url('../img/sp/growthSp.png');
		padding-top: 11.3%;
		margin:0% auto 3.3% auto;
	}

	#aboutCompany #vision_right h2 {
		background-image: url('../img/sp/visionSp.png');
		padding-top: 11.3%;
		margin:0 auto 3.3% auto;
	}

	#aboutCompany #vision_right p, #aboutCompany #growth_left p {
		margin-left: 3.8%;
		margin-right: 4.5%;
	}

	/*栗山自動車グループ*/
	#groupSection {
		width: 100%;
		background-color: #e5e5e4;
	}

	#groupSection #group_bg {
		max-width: 640px;
		background-image: url('../img/sp/group_bgSp.jpg');
	}

	#groupSection #group_wrapper {
		max-width: 640px;
		margin: 0 auto;
		overflow: hidden;
	}

	#groupSection h1 {
		background-image: url('../img/sp/title_groupSp.png');
		width: 52.3%;
		padding-top: 28.28%;
		margin:12.5% auto 11.7% auto;
	}

	#groupSection .group_area {
		width: 77.6%;
		margin: 0 auto 8% auto;
		float: none;
	}
	#groupSection .group_area:last-child {
		margin: 0 auto 14% auto;
	}

	#groupSection .group_area h2 {
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 4%;
		line-height: 1em;
	}

	#groupSection .group_area p {
		text-align: left;
		font-size: 11px;
		line-height: 18px;
	}

	#groupSection .group_area a {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#groupSection .group_area img {
		width: 67.4%;
		display: block;
		margin: 0 auto 4.8% auto;
		transition-property: transform;
		transition-duration: 0.5s;
		transition-timing-function:ease-out;
	}

	/*社内制度*/
	#companySystem {
		width: 100%;
		text-align: center;
		background-color: #eeeeee;
	}

	#iconArea {
		max-width: 600px;
		width: 93.75%;
	}

	#companySystem h1 {
		background-image: url('../img/sp/title_systemSp.png');
		width: 23.9%;
		padding-top: 28.1%;
		margin:13.3% auto 12.5% auto;
	}

	.icons {
		float: left;
		width: 50%;
		height: 223px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin:0 auto 14.6% auto;
	}

	.icons:nth-child(2n+1) {
		padding-right: 1.6%;
	}
	.icons:nth-child(2n) {
		padding-left: 1.6%;
	}

	.icons figure {
		margin: 0;
		padding: 0;
	}

	.icons img {
		width: 67.5%;
		margin-bottom: 6.8%;
	}

	.icons figcaption {
		font-size: 11px;
		margin-bottom: 6.8%;
	}

	.icons p {
		font-size: 10px;
		line-height: 16px;
		padding: 0 4.8% 0 4.8%;
		text-align: left;
	}

	#iconArea .icons:last-child {
		margin-bottom: 17.2%;
	}

	/*横スクロールギャラリー*/
	#companyGallery, #companyGalleryBottom {
		width: 100%;
		height: 93.5px;
	}

	#companyGallery ul, #companyGalleryBottom ul{
		position: absolute;
		width: 1602px;
	}

	#companyGallery ul li, #companyGalleryBottom ul li {
		width: 133.5px;
		height: 93.5px;
	}

	/*recInformation*/
	#recInformation .left_side article {
		width: 100%;
		margin-bottom: 4.6%;
	}

	#recInformation .right_side article:nth-child(1) {
		margin-bottom: 4.6%;
	}
	#recInformation .right_side article:nth-child(2) {
		margin-bottom: 4.6%;
	}
	#recInformation .right_side article:nth-child(3) {
		margin-bottom: 4.6%;
	}
	#recInformation .right_side article:nth-child(4) {
		margin-bottom: 4.6%;
	}

	#recInformation h1 {
		width: 23.9%;
		padding-top: 27.9%;
		margin:12.5% auto 10.9% auto;
	}

	#recInformation h2 {
		font-size: 12px;
	}

	#recInformation h3, #parttime h3 {
		font-size: 11px;
		font-weight: 300;
		padding: 0;
		margin: 0;
		line-height: 16px;
	}

	#recInformation h3 ~ p{
		margin-left: 1.4em;
	}

	#recInformation p {
		font-size: 11px;
		line-height: 16px;
	}

	#recInformation li {
		font-size: 11px;
		line-height: 16px;
	}

	#recInformation dl {
		line-height: 16px;
	}
	#recInformation dt, #recInformation dd {
		font-size: 11px;
	}

	#recInformation small {
		display: block;
		font-size: 10px;
		line-height: 20px;
	}

	#recInformation .small {
		font-size: 10px;
		margin-left: 1.5em;
	}

	#recInformation .bulletMargin {
		margin-left: 1em;
	}

	#recInformation .numMargin {
		margin-left: 1.5em;
	}

	#recInfoArea, #companyInfoArea, #historyArea {
		max-width: 640px;
		margin:0 auto;
		overflow: hidden;
	}
	.left_side {
		width: 100%;
		padding: 0 3.1% 0 3.1%;
		float: none;
		margin-bottom: 4.6%;
	}

	.right_side {
		width: 100%;
		padding: 0 3.1% 0 3.1%;
		float: none;
		margin-bottom: 8.4%;
		border-left: 0px dotted #a8a8a8;
	}

	/*企業情報*/
	#companyInfo h1 {
		background-image: url('../img/sp/title_profileSp.png');
		width: 23.6%;
		padding-top: 31.25%;
		margin:12.5% auto 11.8% auto;
	}

	#companyInfo h2 {
		background-image: url('../img/common/title_history.png');
		width: 26.25%;
		padding-top: 6.25%;
		margin:0% auto 3% auto;
	}

	#companyInfo table a:after {
		content: url('../img/sp/link_iconSp.png');
		margin-left: 4px;
	}

	#companyInfo table th {
		color: #FFFFFF;
		font-size: 11px;
		text-align: center;
		border-bottom: 11px solid transparent;
		border-right: 16px solid transparent;
		vertical-align: top;
	}

	#companyInfo table td {
		font-size: 11px;
		border-bottom: 11px solid transparent;
		line-height: 17px;
	}

	#companyInfo table td a {
		text-decoration: none;
		color: #5298D5;
	}

	#companyInfo table td a:hover {
		text-decoration: underline;
	}

	#companyInfo table th span {
		background-color: #d6000f;
		display: inline-block;
		width: 70px;
		height: 18px;
		line-height: 1.7em;
	}

	#companyInfo #companyHistroy {
		background-image: url('../img/sp/history_flowSp.png');
		width: 93.75%;
		padding-top: 137%;
		margin: 5.9% auto 7% auto;
	}

	#entryButton {
		width: 45.9%;
		margin: 0 auto 5.7% auto;
		display: block;
	}

	#companyInfo #recruitBox {
		width: 74%;
		max-width: 474px;
	}

	#companyInfo #recruitBox img {
		margin-bottom: 8%;
	}

	/*トップへスクロールボタン*/
	#toTopScroll {
		right: 20px;
		bottom: 26px;
		width: 40px;
		height: 112.5px;
	}
	footer #footerArea {
		max-width: 640px;
		margin: 0 auto;
	}

	footer #footerArea h1 {
		background-image: url('../img/sp/footerSp.png');
		width: 93.75%;
		padding-top: 27.3%;
	}
}

@media screen and (max-width: 480px) {
	.icons {
		margin:0 auto 6.6% auto;
	}
}
#recInformation .after_margin{
	margin: 50px 0 0;
}
.button_entry{
	display: inline-block;
	padding: 5px 35px 5px 20px;
	margin: 10px 0;
	color: #fff;
	background: #ea1312;
	text-decoration: none;
	font-weight: bold;
	position: relative;
}
.button_entry:after{
	position: absolute;
	top: 12px;
	right: 15px;
	margin: auto;
	vertical-align: middle;
	content: "";
	width: 5px;
	height: 5px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}