  @charset "UTF-8";
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details,
  figure, figcaption, footer, header,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo sans-serif;
    vertical-align: baseline;
    background: transparent;
  }

  html {

  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    width: auto;
  }

  main, article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary {
    display: block;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  input, textarea, button, select {
    margin: 0;
    padding: 0;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }

  nav, ol, ul {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


  body {
    line-height: 1.5;
    font-size: 16px;
    background-color: #FFF;
    color: #333;
  }
  .inner{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
  }

  #contents {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
  }
.btm-fixed-nav{
  margin: 0 0 0 auto;
}
  .btm-btn-area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .btm-btn-area > a {
    width: 49%;
  }
  .btm-btn-area > a:only-child {
    width: 100%;
  }

  .wrap-error-message .ttl {
    display: inline-block;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 22px;
    font-size: 6.875vw;
  }

  .ttl_common01 {
    border-left: 5px solid #008CA7;
    margin-bottom: 5%;
    padding-left: 1em;
    font-size: 20px;
    font-size: 6.25vw;
    font-weight: bold;
  }

  .ttl_common02 {
    margin-bottom: 2.5%;
    font-size: 20px;
    font-weight: bold;
  }

  .ttl_common03 {
    border-top: 2px solid #d7000f;
    padding: 10px;
    background: #fffaf2;
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }

  .ttl_common04 {
    margin-bottom: 2.5%;
    font-size: 16px;
    font-size: 5vw;
    font-weight: bold;
  }



.img-detail-main img{
  max-height: 300px;
  width: auto;
}
.form_bg{
  background: #fffaf2;
  margin: 50px 0;
  padding: 50px 0;
}

  .tbl_common01, .tbl-item-list, .tbl-item-detail {
    border: 1px solid #CCC;
    margin-bottom: 30px;
    width: 100%;
  }
  .tbl_common01 th, .tbl-item-list th, .tbl-item-detail th, .tbl_common01 td, .tbl-item-list td, .tbl-item-detail td {
    box-sizing: border-box;
    border-bottom: 1px dotted #CCC;
    padding: 2% 3%;
    font-size: 14px;
    text-align: left;
  }

  .tbl_common01 th, .tbl-item-list th, .tbl-item-detail th {
    width: 12em;
    background: #fde0e0;
    font-weight: bold;
  }
  .tbl_common01 td, .tbl-item-list td, .tbl-item-detail td {
    background: #FFF;
  }

  .tbl_common01 {
    margin-bottom: 5%;
  }
  .tbl_common01 th {
    background: #fffde6;
  }

  .tbl-item-list th:before {
    display: inline-block;
    width: 20%;
    color: #EA1312;
    text-align: center;
  }

  .tbl-item-detail .logo img {
    vertical-align: top;
  }

  .btn_tel, .btn_entry, .btn_next, .btn_mail, .btn_list, .btn_back, .btn_home, .btn_more {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 6% 0;
    line-height: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
.wrap-detail-ttl-area{
  display: flex;
}

  .btn_tel span {
    font-weight: bold;
  }

  .btn_entry, .btn_next {
    border: 1px solid #EA1312;
    background: #EA1312;
    color: #FFF;
    padding: 10px 50px;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  }

  .btn_list_in{
    margin: 0 0 0 auto;
    display: flex;
  }
  .btn_list {
    position: relative;
    border-radius: 5px;
    border: 1px solid #EA1312;
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.15) inset;
    padding: 20px;
    background: #FFF;
    color: #EA1312;
    font-size: 14px;
    margin: auto;
    width: 10em;
    height: 56px;
  }
  .btn_list:after {
    position: absolute;
    top: 50%;
    right: .5em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    border: 4px solid transparent;
    border-right: 0;
    border-left: 6px solid #EA1312;
    content: "";
  }

  .btn_back, .btn_home {
    position: relative;
    border: 1px solid #EA1312;
    background: #FFF;
    color: #EA1312;
    font-size: 16px;
    font-size: 5vw;
  }
  .btn_back:before, .btn_home:before {
    position: absolute;
    top: 50%;
    left: .5em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    border: 4px solid transparent;
    border-left: 0;
    border-right: 6px solid #EA1312;
    content: "";
  }
  .btn_back span, .btn_home span {
    font-weight: bold;
  }

  .btn_back02 {
    display: block;
    position: relative;
    background: #666;
    box-shadow: 0 4px 0 #4d4d4d;
    width: 30%;
    color: #FFF;
    font-size: 12px;
    font-size: 3.75vw;
  }
  .btn_back02:before {
    position: absolute;
    top: 50%;
    left: 8%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    border: 4px solid transparent;
    border-left: 0;
    border-right: 6px solid #FFF;
    content: "";
  }

  .btn_next {
    position: relative;
  }
  .btn_next:before {
    display: none;
  }
  .btn_next:after {
    position: absolute;
    top: 50%;
    right: .5em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    border: 4px solid transparent;
    border-right: 0;
    border-left: 6px solid #FFF;
    content: "";
  }

  .btn_home {
    padding: 5%;
  }
  .btn_home:before {
    display: inline-block;
    border: 4px solid transparent;
    border-right: 0;
    border-left: 6px solid #EA1312;
    content: "";
    right: .5em;
    left: auto;
  }

  .btn_fixed_entry {
    display: none;
  }
  .btn_fixed_entry span {
    display: inline-block;
    padding: 20px 10px;
    font-size: 20px;
    font-size: 6.25vw;
    font-weight: bold;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
  }

  .btn_more {
    display: block;
    position: relative;
    text-align: center;
  }


  #global-footer{
    display: block;
    padding: 10px 0;
    color: #fff;
    background: #666;
    font-size: 10px;
    text-align: center;
  }

#form{
  display: block;
  height: 700px;
  max-width: 600px;
  width: 100%;
  border: 0;
  margin: 0 auto;
}

.detail-ttl-area{
  border-left: 3px solid #d7000f;
  padding: 0 0 0 1em;
  margin: 0 0 30px;
}
#global-header{
  border-bottom: 1px solid #ccc;
  margin: 0 0 30px;
}
@media (max-width:767px) {
  #company-logo img{
    width: 180px;
  }
  .btn_list{
    padding: 5px;
    font-size: 12px;
  }
  .wrap-detail-ttl-area{
    display: block;
  }
  .btm-fixed-nav{
    text-align: center;
    margin: 0 0 30px;
  }
  .tbl-item-detail th{
    width: 8em;
  }
  .btn_entry{
    font-size: 16px;
  }
}
.feature img{
  float: left;
  clear:left;
  margin-right: 1em;
}
.feature{
  margin: 0 0 30px;
}
.feature p{
  margin: 0 0 1em;
}
.feature:after{
  content: ".";
  display: block;
  height: 0;
  font-size:0;
  clear: both;
  visibility:hidden;
}
.tel{
  text-align: center;
}
